{%extends "layout/layout.html"%}
{%block content%}
    <p class="hint">
        <a href="{{url_for('main')}}"> Return back</a>
    </p>
    {%for chat in chats%}
        <div class="all_chats_item">
            <h3> {{chat.name}}</h3>
            <form method="post" action="{{url_for('connect', chat_id=chat.id)}}" class="initial_forms">
                {{form.csrf_token}}
                {%for field in form if field.name != "csrf_token"%}
                    {%if field.name != "submit"%}
                        <label>{{field.label}}</label>
                    {%endif%}
                    <div class="input">
                        {{field}}
                        {%for error in field.errors%}
                            <p class="hint-error">
                                {{error}}
                            </p>
                        {%endfor%}
                    </div>
                {%endfor%}
           </form>
        </div>
    {%endfor%}


{%endblock%}