<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%if errors%}
        {% for error in errors:%}
            <p>{{errors.pop(errors.index(error))}}</p>
        {% endfor %}
    {%endif%}
    <form method="post">
        <fieldset>
            <legend>Login Form</legend>
            <label for="username">Username</label>
            <input id="username" type="text" name="username">
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
            <input type="submit" value="Login">
        </fieldset>
    </form>
</body>
</html>